<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
@@include('meta.html')
    <meta name="keywords" content="BS education services, migration, PTE">
    <meta name="description" content="">
    <meta name="pageIndex" content="Home">
@@if (environment == "development"){
    @@include('externalCss.html')
    @@include('externalJs.html')
}
@@if (environment == "production"){
    @@include('externalCssMin.html')
    @@include('externalJsMin.html')
}

</head>
<body>

@@include('header.html')

<div class="container cx-blockTypeB cx-boxContainer">
    <div class="row ">
         <div class="cx-box cx-box1"></div>
         <div class="cx-box cx-box2"></div>
    </div>
    <div class="row ">
        <div class="cx-box cx-box3"></div>
        <div class="cx-box cx-box4"></div>
    </div>
</div>

@@include('footer.html')
</body>
</html>