$bgForNav:#1B3564; //  rgb(27, 53, 100)
$bgForNavActive:brown;  // #A52A2A	rgb(165,42,42)
$bgForBlockGeneral: #32689B;   //  rgb(50, 104, 155)
$bgForBlockTypeA: #343434;     //Type A is darker when type B is lighter
$bgForBlockTypeB: lightgrey;
$bgForBtnGeneral:#2491CC;
$bgForDiv1:#226974;
$bgForDiv2:#2d2274;
$bgForDiv3:#742269;
$bgForDiv4:#0D47A1;
$bgForDivHighlighted:#d50000;
$colorForText:white;
$colorForHighlighted:#FF3D00;
